* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(206, 203, 235);
}

.logo {
  color: antiquewhite;
  font-size: x-large;
  margin: 2%;
  font-weight: bold;
}
nav {
  background-color: rgb(245, 102, 102);
  width: 100%;
  display: block;

  border-width: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  height: 2rem;
}

li {
  display: flex;
}
nav ul li a {
  color: whitesmoke;
  padding: 5px;
  border-width: 0;
}

a.active,
a:hover {
  background-color: rgb(206, 203, 235);
}

.extras {
  margin: 0.5vh;
}

.first-line {
  display: flex;
  justify-content: space-between;
}

/* AXILIARY MESSAGES FOR VIEWS */
.message-container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-box {
  background-color: rgba(245, 244, 247, 0.822);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.623),
    0 6px 10px 0 rgba(0, 0, 0, 0.507);
  border-radius: 5px;
  max-width: 60%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-header {
  margin-bottom: 3%;
}

.message-box p {
  text-align: center;
}

/* FORM STYLING */

.form-container {
  margin: 0;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(228, 226, 255, 0.877);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.623),
    0 6px 10px 0 rgba(0, 0, 0, 0.507);
  padding: 5%;
}

.form input {
  display: block;
  border: none;
  margin: 2%;
  font-family: "Montserrat", sans-serif;
  padding: 2%;
  outline-color: rgba(137, 43, 226, 0.13);
}

.form-title {
  margin-bottom: 3%;
}

.submit-btn:hover {
  background-color: rgba(36, 25, 133, 0.808);
}

.form p {
  margin-top: 5%;
}

/*form error messages  */
#error-msgs li {
  display: list-item;
  color: red;
  list-style: circle inside;
  font-size: 0.9em;
}

.form-container a {
  color: brown;
}
/* 
SAVE EXPENSES
*/

.exp-container {
  width: 100%;
}

.table-headers {
  border: ridge;
  background-color: blanchedalmond;
}

.type-entry,
.description-entry,
.amount-entry {
  width: 40vw;
  border: none;
  border-bottom: 0.1em solid rgb(253, 253, 253);
  padding: 1% 0.5%;
}

.type-entry input,
.description-entry input,
.amount-entry input {
  border-radius: 3px;
  border: none;
  height: 4vh;
  text-align: justify;
  width: 100%;
  font-family: inherit;
}

.amount-entry {
  width: 20vw;
}

.exp-submit-btn {
  width: 50%;
  height: 2rem;
  margin-top: 2rem;
  font-family: inherit;
  border: none;
}

#submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#add-btn {
  margin-top: 5px;
  border: none;
  font-family: inherit;
  padding: 2%;
  text-align: center;
}

#add-btn:hover,
.exp-submit-btn:hover {
  background-color: rgb(247, 174, 174);
}

#empty-row-err {
  width: 100%;
  color: red;
  text-align: center;
  margin-top: 5px;
}

#empty-row-err p {
  background-color: aliceblue;
}

/* LOADING */

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.63);
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-bottom: 2vh;

  border-left-color: transparent;
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* STATISTICS */

.stats-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.date {
  display: inline-block;
  width: min-content;
  margin-right: 5%;
}

#dates-container {
  display: contents;
}

.stats-form input {
  border: none;
  border-radius: 3px;
  padding: 2%;
  font-family: inherit;
}

#submit-btn:hover {
  background-color: rgb(245, 102, 102);
}

@media only screen and (max-width: 499px) {
  #dates-container {
    width: min-content;
  }
  #submit-btn {
    display: inline;
    margin-top: 2%;
  }
}

/* BOOK */
.book-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

.exp-show-thead th {
  border: ridge;
  background-color: blanchedalmond;
}

.exp-show-tr td {
  border-bottom: 0.1em solid rgb(253, 253, 253);
}

/* LOGOUT BUTTON */
#logout-btn {
  margin: 5px;
  border: none;
  font-family: inherit;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center;
}

#logout-btn:hover {
  background-color: rgb(234, 210, 210);
}
